<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olamilekan Portfolio Website</title>
    <link rel="stylesheet" href="{% static 'portfolioapp/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

</head>
<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#teams" class="menu-btn">Project</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Olamilekan Azeez</div>
                <div class="text-3">And I'm a <span class="typing"></span></div>
                <a href="#contact">Hire me</a>
            </div>
        </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="{% static 'portfolioapp/images/ola.jpg' %}" alt="">
                </div>
                <div class="column right">
                    <div class="text">I'm a Backend Developer and I'm currently learning about <span class="typing-2"></span></div>
                    <p>more about me will be written here shortly, working on about me</p>
                    <a href="#">Download CV</a>
                </div>
            </div>
        </div>
    </section>
   

    <!-- teams section start -->
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">My Projects</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="{% static 'portfolioapp/images/ola.jpg' %}" alt="">
                        <div class="text">Devconnect</div>
                        <p>This project is about creating a platform where people in tech could meet, help one another and connect with each other.</p>
                        <a href="#contact">View Project</a>
                        <a href="#contact"><i class="fas fa-code-branch"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="{% static 'portfolioapp/images/ola.jpg' %}" alt="">
                        <div class="text">Resume</div>
                        <p>This is an online resume that show info about skilss and information about me.</p>
                        <a href="https://olamiresume.herokuapp.com">View Project</a>
                        <a href="https://github.com/Azeezdot123/resume"><i class="fas fa-code-branch"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="{% static 'portfolioapp/images/ola.jpg' %}" alt="">
                        <div class="text">Portfolio</div>
                        <p>This is an online portfolio that show case projects that have work on personal or take part in.</p>
                        <a href="https://olamilekan.herokuapp.com">View Project</a>
                        <a href="https://github.com/Azeezdot123/portfolio"><i class="fas fa-code-branch"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Get in Touch</div>
                    <p>Hello, you can get in touch with me by filling the form or send a mail to my email. Thanks</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">Olamilekan Azeez</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Lagos, Nigeria</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">devolamilekan@gmail.com</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fab fa-github"></i>
                            <div class="info">
                                <div class="head">Github</div>
                                <div class="sub-title"><a href="https://github.com/Azeezdot123">Azeezdot123</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text">Message me</div>
                    {% if messages %}
                        {% for m in messages %}
                            <strong><h4 style="color: black">{{ m }}</h4></strong>
                        {% endfor %}
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="fields">
                            <div class="field name">
                                <input type="text" name="name" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" name="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" name="subject" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" name="content" placeholder="Message.." required></textarea>
                        </div>
                        <div class="button-area">
                            <button type="submit">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section start -->
    <footer>
        <span>Created By <a href="https://github.com/Azeezdot123">Olamilekan</a> | <span class="far fa-copyright"></span> 2021 All rights reserved.</span>
    </footer>

    <script src="{% static 'portfolioapp/script.js' %}"></script>
</body>
</html>
